.logo {
  color: $accent-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  &__head {
    display: block;
    padding: 16px 0px;

    @media screen and (min-width: 768px) {
      padding: 24px 0px;
    }
  }

  &__head--dark {
    color: #000000;
  }

  &__footer {
    display: block;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__footer--light {
    color: $background-main-color;
  }
}
