.occupation {
    padding-bottom: 94px;

    @media screen and(max-width: 1199px) {
        display: none;
    }

    &__title {
        margin: 0px;
        margin-bottom: 50px;
        color: $title-text-color;
        font-family: $main-font;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        position: relative;
        display: block;
        max-width: 370px;
        height: 294px;
        z-index: -1;
        line-height: 0px;
    }

    &__icon {
        display: block;
        width: 100%;
    }

    &__wraper {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        min-width: 100%;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
    }

    &__caption {
        margin: 0px;
        font-family: $main-font;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $background-main-color;
    }
}