.warranty {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}

	&__list {
		@media screen and (min-width: 768px) {
			display: flex;
		}

		@media screen and (max-width: 1199px) {
			flex-wrap: wrap;
		}
	}

	&__plan {
		margin-top: 0px;
		margin-bottom: 10px;

		color: $title-text-color;
		font-family: $main-font;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;

	}

	&__text {
		color: $primary-text-color;
		margin: 0px;
		font-family: $main-font;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
	}
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	margin: 0px;
}

.warrantly {
	&__items {
		margin-bottom: 30px;

		@media screen and (max-width: 767px) {
			width: 100%;
		}


		@media screen and (min-width: 768px) {
			flex-basis: calc((100% - 1 * 30px)/2);
			margin-right: 30px;

			&:nth-child(n+3) {
				margin-bottom: 0px;
			}
		}

		@media screen and (max-width: 1199px) {
			&:nth-child(2n+2) {
				margin-right: 0px;
			}
		}

		@media screen and (min-width: 1200px) {
			flex-basis: calc((100% - 3 * 30px)/4);
			margin-bottom: 0px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}

	&__items::before {
		content: "";
		display: block;
		height: 120px;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-light-color;
		border-radius: 4px;
		margin-bottom: 30px;
	}

	&__items--icon-antenna::before {
		background-image: url(../images/antenna.svg);
	}


	&__items--icon-clock::before {
		background-image: url(../images/clock.svg);
	}

	&__items--icon-diagramma::before {
		background-image: url(../images/diagram.svg);
	}

	&__items--icon-astronaut::before {
		background-image: url(../images/astronaut.svg)
	}
}